{% extends 'blog/base.html' %}
{% load static %}
{% block title %}
    唯月初始|查询结果
{% endblock %}

{% block content %}
    <div class="container">
        <h3>搜索编号:</h3>
        <h4>{{ ss }}</h4>
        <h3>共有 {{ shuliang }} 条数据:</h3>
        <h4>编号|石头</h4>
        <hr>
        {% for shuju in shujus %}
            <img src="https://pad.skyozora.com/images/drops/{{ shuju.sx }}.png" width="30" height="30">
            <a href="{% url 'xq' shuju.bh %}" target="_blank"><strong>{{ shuju.bh }} - {{ shuju.st }}<strong></a><br/>
            <hr>
        {% endfor %}
    </div>
{% endblock %}