{% extends 'blog/base.html' %}
{% load static %}
{% block title %}
    唯月初始
{% endblock %}

{% block content %}
        <div class="col-xs-12 col-sm-9">
          <p class="pull-right visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">HOT</button>
          </p>
          <div class="row">
            <div class="col-xs-12 col-lg-9">
              <h2>欢迎光临唯月初始</h2>
              <h4>最多支持6个宠物组合,第1第2个宠物支持数量搜索,搜不到结果就是没有</h4>
              <h4>有找到合适的编号,去淘宝或者微信联系我,我发box图给你看,最终已box图为准</h4>
              <h3>价格说明:B组600起,ACK组550起,M组500起,P组宠物少石头多150起,R组60起,为避免浪费大家的时间,请按照自己的预算需求咨询看号,谢谢!</h3>
                <hr>
               <h4>本店有297加蛋和各类希石出售,官方交换所交换,安全快捷,咨询请点上面连接</h4>
                <hr>
            <form class="form-horizontal" method="post">
            <div class="form-group">
                <div class="col-sm-10">
                    <input type="text" class="form-control-inline"  id="inputEmail1" placeholder="编号1" name="bh_1">
                    <div class="radio-inline">
                        <label>
                            <input type="radio" name="cwysl" id="optionsRadios1" value="1" checked>1
                        </label>
                    </div>
                    <div class="radio-inline">
                        <label>
                            <input type="radio" name="cwysl" id="optionsRadios2" value="2">2
                        </label>
                    </div>
                    <div class="radio-inline">
                        <label>
                            <input type="radio" name="cwysl" id="optionsRadios3" value="3">3
                        </label>
                    </div>
                    <div class="radio-inline">
                        <label>
                            <input type="radio" name="cwysl" id="optionsRadios4" value="4">4
                        </label>
                    </div>
                    <div class="radio-inline">
                        <label>
                            <input type="radio" name="cwysl" id="optionsRadios5" value="5">5
                        </label>
                    </div>
                </div>
                <div class="col-sm-10">
                    <input type="text" class="form-control-inline" id="inputEmail2" placeholder="编号2" name="bh_2">
                    <div class="radio-inline">
                        <label>
                            <input type="radio" name="cwesl" id="optionsRadios6" value="1" checked>1
                        </label>
                    </div>
                    <div class="radio-inline">
                        <label>
                            <input type="radio" name="cwesl" id="optionsRadios7" value="2">2
                        </label>
                    </div>
                    <div class="radio-inline">
                        <label>
                            <input type="radio" name="cwesl" id="optionsRadios8" value="3">3
                        </label>
                    </div>
                    <div class="radio-inline">
                        <label>
                            <input type="radio" name="cwesl" id="optionsRadios9" value="4">4
                        </label>
                    </div>
                    <div class="radio-inline">
                        <label>
                            <input type="radio" name="cwesl" id="optionsRadios0" value="5">5
                        </label>
                    </div>
                </div>
                <div class="col-sm-10">
                    <input type="text" class="form-control-inline" id="inputEmail3" placeholder="编号3" name="bh_3">
                    <input type="text" class="form-control-inline" id="inputEmail4" placeholder="编号4" name="bh_4">
                </div>
                <div class="col-sm-10">
                    <input type="text" class="form-control-inline" id="inputEmail5" placeholder="编号5" name="bh_5">
                    <input type="text" class="form-control-inline" id="inputEmail6" placeholder="编号6" name="bh_5">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-success">开始查询</button>
                </div>
            </div>
        </form>
            </div><!--/.col-xs-12.col-lg-9-->
            {% for foo in post_list %}
              <div class="col-xs-12 col-lg-9">
              <h2>{{ foo.title }}</h2>
              <p>{{ foo.body|linebreaksbr}}</p>
              <p>更新时间:{{ foo.modified_time }}</p>
                  <hr>
              </div><!--/.col-xs-6.col-lg-4-->
            {% endfor %}

          </div><!--/row-->
            <p></p>
            <p></p>
            <div align="center" class="text">
                网站名称:唯月初始<br/>
                <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=45098102000389" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;"><img src="http://www.beian.gov.cn/img/ghs.png" style="float:left;"/><p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">桂公网安备 45098102000389号</p></a><br/>
                <a href="http://www.beian.miit.gov.cn/" target="_blank" class="text">沪ICP备19000578号-1<br/></a>
            </div>
        </div><!--/.col-xs-12.col-sm-9-->

        <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
{#            <img src="{% static 'wx.jpg' %}" class="img-rounded">#}
{#            <hr>#}
            <div class="list-group">
            <p class="list-group-item active">友情链接:</p>
                <li><a href="https://tieba.baidu.com/f?kw=%D6%C7%C1%FA%C3%D4%B3%C7&fr=ala0&tpl=5" target="_blank">智龙迷城吧</a></li>
                <li><a href="http://bbs.nga.cn/thread.php?fid=426&rand=476" target="_blank">NGA智龙迷城区</a></li>
                <li><a href="http://mapaler.gitee.io/paddashformation/" target="_blank">智龙迷城队伍制作工具</a></li>
                <li><a href="https://pad.skyozora.com/" target="_blank">战友网</a></li>
            <hr>
            </div>
            <div class="list-group">
            <p class="list-group-item active">热门宠物编号:</p>
            {% for foo in hot_list %}
                <p class="list-group-item">{{ foo.name }}</p>
            {% endfor %}
            </div>
        </div><!--/.container-->
{% endblock %}

