{% extends 'blog/base.html' %}
{% load static %}
{% block title %}
    唯月初始
{% endblock %}

{% block content %}
        <div class="col-xs-12 col-sm-9">
          <div class="row">
           <h3>当前热门角色:</h3>
              {% for foo in paihang %}
                <div style="position: relative; width: 41px; height: 41px;float:left">
                    <img src="https://pad.skyozora.com/images/pets/{{ foo }}.png" width="40" height="40" alt="">
                    <span  style="position: absolute; top: 25px; left: 1px;color: #ffffff;font-size:10px;font-weight:700">{{ foo }}</span>
                </div>
            {% endfor %}
              <div class="col-xs-12 col-lg-9">
              <h2>欢迎光临唯月初始</h2>
              <h4>最多支持6个宠物组合,请输入宠物编号查询</h4>
              <h4>第1第2个宠物支持数量搜索,12345表示宠物的数量,搜不到结果就是没有</h4>
            <form class="form-horizontal" method="post">
            <div class="form-group">
                <div class="col-sm-10">
                    <input type="text" class="form-control-inline"  id="inputEmail1" placeholder="编号1" name="bh_1">
                    <div class="radio-inline">
                        <label>
                            <input type="radio" name="cwysl" id="optionsRadios1" value="1" checked>1
                        </label>
                    </div>
                    <div class="radio-inline">
                        <label>
                            <input type="radio" name="cwysl" id="optionsRadios2" value="2">2
                        </label>
                    </div>
                    <div class="radio-inline">
                        <label>
                            <input type="radio" name="cwysl" id="optionsRadios3" value="3">3
                        </label>
                    </div>
                    <div class="radio-inline">
                        <label>
                            <input type="radio" name="cwysl" id="optionsRadios4" value="4">4
                        </label>
                    </div>
                    <div class="radio-inline">
                        <label>
                            <input type="radio" name="cwysl" id="optionsRadios5" value="5">5
                        </label>
                    </div>
                </div>
                <div class="col-sm-10">
                    <input type="text" class="form-control-inline" id="inputEmail2" placeholder="编号2" name="bh_2">
                    <div class="radio-inline">
                        <label>
                            <input type="radio" name="cwesl" id="optionsRadios6" value="1" checked>1
                        </label>
                    </div>
                    <div class="radio-inline">
                        <label>
                            <input type="radio" name="cwesl" id="optionsRadios7" value="2">2
                        </label>
                    </div>
                    <div class="radio-inline">
                        <label>
                            <input type="radio" name="cwesl" id="optionsRadios8" value="3">3
                        </label>
                    </div>
                    <div class="radio-inline">
                        <label>
                            <input type="radio" name="cwesl" id="optionsRadios9" value="4">4
                        </label>
                    </div>
                    <div class="radio-inline">
                        <label>
                            <input type="radio" name="cwesl" id="optionsRadios0" value="5">5
                        </label>
                    </div>
                </div>
                <div class="col-sm-10">
                    <input type="text" class="form-control-inline" id="inputEmail3" placeholder="编号3" name="bh_3">
                    <input type="text" class="form-control-inline" id="inputEmail4" placeholder="编号4" name="bh_4">
                </div>
                <div class="col-sm-10">
                    <input type="text" class="form-control-inline" id="inputEmail5" placeholder="编号5" name="bh_5">
                    <input type="text" class="form-control-inline" id="inputEmail6" placeholder="编号6" name="bh_6">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-success">开始查询</button>
                </div>
            </div>
        </form>
            <h3>当前联动角色:</h3>
            {% for foo in dangqian %}
                <div style="position: relative; width: 41px; height: 41px;float:left">
                    <img src="https://pad.skyozora.com/images/pets/{{ foo }}.png" width="40" height="40" alt="">
                    <span  style="position: absolute; top: 25px; left: 1px;color: #ffffff;font-size:10px;font-weight:700">{{ foo }}</span>
                </div>
            {% endfor %}
              </div><!--/.col-xs-12.col-lg-9-->
            {% for foo in post_list %}
              <div class="col-xs-12 col-lg-9">
              <h4>{{ foo.title }}</h4>
              <p>{{ foo.body|linebreaksbr}}</p>
              <p>更新时间:{{ foo.modified_time }}</p>
                  <hr>
              </div><!--/.col-xs-6.col-lg-4-->
            {% endfor %}

          </div><!--/row-->
            <p></p>
            <p></p>
            <div align="center" class="text">
                网站名称:唯月初始<br/>
                <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=45098102000389" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;"><img src="http://www.beian.gov.cn/img/ghs.png" style="float:left;"/><p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">桂公网安备 45098102000389号</p></a><br/>
                <a href="http://www.beian.miit.gov.cn/" target="_blank" class="text">沪ICP备19000578号-1<br/></a>
            </div>
        </div><!--/.col-xs-12.col-sm-9-->
{% endblock %}

