{% extends 'blog/base.html' %}
{% load static %}
{% block title %}
    唯月初始
{% endblock %}

{% block content %}
    <div>
    <h2>欢迎光临
        <a href="https://item.taobao.com/item.htm?id=579281606457" target="_blank">唯月初始小店</a>
    </h2>
    <h3>价格参考:</h3>
    <h3>B组：750+(登陆一千日以上)</h3>
    <h3>M组：650+(登陆650日左右)</h3>
    <h3>ACKDHG组：680+(登陆750日左右)</h3>
    <h3>P组：460+(登陆500日左右)</h3>
    <h3>R S组：380+</h3>
    <h3>W组：250+</h3>
    <h3>有自动发货的多石号,只要能买就是有货,付款后自动发送引继码</h3>
    <h3>晚上23点到早上7点客服休息，留言白天会回复</h3>
    <h1>咨询,购买:
    <a href="https://item.taobao.com/item.htm?id=579281606457" target="_blank">唯月初始小店</a>
    </h1>
    </div>
    <div class="list-group">
        <p class="list-group-item active">友情链接:</p>
            <li><a href="https://tieba.baidu.com/f?kw=%D6%C7%C1%FA%C3%D4%B3%C7&fr=ala0&tpl=5" target="_blank">智龙迷城吧</a></li>
            <li><a href="http://bbs.nga.cn/thread.php?fid=426&rand=476" target="_blank">NGA智龙迷城区</a></li>
            <li><a href="http://mapaler.gitee.io/paddashformation/" target="_blank">智龙迷城队伍制作工具</a></li>
            <li><a href="https://pad.skyozora.com/" target="_blank">战友网</a></li>
        <hr>
    </div>

{% endblock %}