{% extends 'blog/base.html' %}
{% load static %}
{% block title %}
    唯月初始 | {{ shuju.账号编号 }} | 详情
{% endblock %}

{% block content %}
    <div class="jumbotron">
        <div class="container">
            <h2>账号编号:{{ shuju.账号编号 }}</h2>
            <hr>
            <p>石头数量:{{ shuju.石头数量 }}</p>
            <p>账号等级:{{ shuju.等级 }}</p>
            <p>更新时间:{{ shuju.更新时间 }}</p>
            <p>是否已卖:{{ shuju.已卖 }}</p>
            <p>75000宠物:</p>
            {% for foo in back.0 %}
                <img src="https://pad.skyozora.com/images/pets/{{ foo }}.png" width="40" height="40">
            {% endfor %}
            <p>50000宠物:</p>
            {% for foo in back.1 %}
                <img src="https://pad.skyozora.com/images/pets/{{ foo }}.png" width="40" height="40">
            {% endfor %}
            <br>
            <p>6000宠物:</p>
            {% for foo in back.4 %}
                <img src="https://pad.skyozora.com/images/pets/{{ foo }}.png" width="40" height="40">
            {% endfor %}
            <br>
            <p>25000宠物:</p>
            {% for foo in back.2 %}
                <img src="https://pad.skyozora.com/images/pets/{{ foo }}.png" width="40" height="40">
            {% endfor %}
            <br>
            <p>15000宠物:</p>
            {% for foo in back.3 %}
                <img src="https://pad.skyozora.com/images/pets/{{ foo }}.png" width="40" height="40">
            {% endfor %}
            <br>
            <p>其它宠物:</p>
            {% for foo in back.5 %}
                <img src="https://pad.skyozora.com/images/pets/{{ foo }}.png" width="40" height="40">
            {% endfor %}
        </div>
    </div>

{% endblock %}