{% extends 'blog/base.html' %}
{% load static %}
{% block title %}
    唯月初始 | {{ shuju.账号编号 }} | 详情
{% endblock %}

{% block content %}
    <div class="jumbotron">
        <div class="container">
            <p class="hljs-strong"><img src="https://pad.skyozora.com/images/drops/{{ shuju.买家 }}.png" width="30" height="30"><strong>编号:{{ shuju.账号编号 }}
                <strong>﹎魔法石:{{ shuju.石头数量 }}﹎等级:{{ shuju.等级 }}<strong></p>
            {% for foo in back.0 %}
                <img src="https://pad.skyozora.com/images/pets/{{ foo }}.png" width="40" height="40">
            {% endfor %}
            <br>
            <br>
            {% for foo in back.1 %}
                <img src="https://pad.skyozora.com/images/pets/{{ foo }}.png" width="40" height="40">
            {% endfor %}
            <br>
            <br>
            {% for foo in back.4 %}
                <img src="https://pad.skyozora.com/images/pets/{{ foo }}.png" width="40" height="40">
            {% endfor %}
            <br>
            <br>
            {% for foo in back.2 %}
                <img src="https://pad.skyozora.com/images/pets/{{ foo }}.png" width="40" height="40">
            {% endfor %}
            <br>
            <br>
            {% for foo in back.3 %}
                <img src="https://pad.skyozora.com/images/pets/{{ foo }}.png" width="40" height="40">
            {% endfor %}
            <br>
            <br>
            {% for foo in back.5 %}
                <img src="https://pad.skyozora.com/images/pets/{{ foo }}.png" width="40" height="40">
            {% endfor %}
            <br>
            <br>
        <p>{{ shuju.更新时间 }}</p>
        </div>
    </div>

{% endblock %}