{% extends 'blog/base.html' %}
{% load static %}
{% block title %}
    唯月初始 | {{ shuju.账号编号 }} | 详情
{% endblock %}

{% block content %}
    <div class="jumbotron">
        <div class="container">
            <h2>账号编号:{{ shuju.账号编号 }}</h2>
            <hr>
            <p>石头数量:{{ shuju.石头数量 }}</p>
            <p>账号等级:{{ shuju.等级 }}</p>
            <p>更新时间:{{ shuju.更新时间 }}</p>
            <p>是否已卖:{{ shuju.已卖 }}</p>
            <p>{{ shuju.宠物|linebreaksbr}}</p>
        </div>
    </div>

{% endblock %}